<p>{{Todo.active().length}} of {{Todo.all().length}} remaining <button ng-click="archive()">clear</button></p>
<ul>
  <li ng-repeat="todo in Todo.all()">
    <input type="checkbox" ng-model="todo.completed" id="{{todo.id}}">
    <label ng-class="{completed: todo.completed}" for="{{todo.id}}">{{todo.title}}</label>
  </li>
</ul>

<!-- TODO: This form should have an action="/new" attribute for non-js peeps -->
<form ng-submit="new()" method="POST">
  <input type="text" ng-model="title" size="30" placeholder="Something you need to do...">
  <button>add</button>
</form>