<html>
  <head>
    <title>Todo List</title>
    <link rel="stylesheet" type="text/css" href="/index.css">
    <script src="/index.js" type="text/javascript"></script>
  </head>
  <body>
    <div data-ng-app data-ng-controller="TodoController">
      <h2>Todo</h2>
      <span>{{Todo.active().length}} of {{Todo.all().length}} remaining</span>
      <button data-ng-click="archive()">Clear</button>
      <ul>
        <li data-ng-repeat="todo in Todo.all()">
          <input type="checkbox" data-ng-model="todo.completed" id="{{todo.id}}">
          <label data-ng-class="{completed: todo.completed}" for="{{todo.id}}">{{todo.title}}</label>
        </li>
      </ul>
      <!-- TODO: This form shoudl have an action="/new" attribute for non-js peeps -->
      <form ng-submit="addTodo()" method="POST">
        <input type="text" ng-model="title" size="30" placeholder="Something you need to do...">
        <button>Add</button>
      </form>
    </div>
  </body>
</html>