<html>
  <head>
    <title>Todo List</title>
    <link rel="stylesheet" type="text/css" href="index.css">
  </head>
  <body>
    <div ng-app ng-cloak ng-controller="TodoView">
      <h2>Todo</h2>
      <span>{{active()}} of {{todos.length}} remaining</span>
      [ <a href="" ng-click="archive()">archive</a> ]
      <ul class="unstyled">
        <li ng-repeat="todo in todos">
          <input type="checkbox" ng-model="todo.complete">
          <span ng-class="{complete: todo.complete}">{{todo.title}}</span>
        </li>
      </ul>
      <form ng-submit="addTodo()">
        <input type="text" ng-model="todo.title" size="30" placeholder="Something you need to do...">
        <input class="btn-primary" type="submit" value="add">
      </form>
    </div>
  </body>
</html>